<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.recipeappjava">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeAppJava"
        tools:targetApi="31">
        <activity
            android:name=".WriteReviews"
            android:exported="false" />
        <activity
            android:name=".SuggestRecipes"
            android:exported="false" />
        <activity
            android:name=".MexicanCuisine"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".JapaneseCuisine"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".ItalianCuisine"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".IndianCuisine"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".ChineseCuisine"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".AmericanCuisine"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".PaleteCleansers"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".Desserts"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".MainCourse"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".Appetizer"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".ReadReviews"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".CheckCourses"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".CheckCuisines"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>